<html>
    <head>
        <title>Output</title>
        <style>
        body{
            background-color: black;
            color: white;
            text-align: center;
            font-size: 25px;
            letter-spacing: 3px;
            font-family: sans-serif;
        }
        </style>
    </head>
    <body>
           <p>Dhin Dhin Dhaa Dhaa</p>
           <p>Dhin Dhin Dhaa Dhaa</p>
           <p>Dhin Dhin Dhaa Dhaa</p>
           <p>Dhin Dhin Dhaa Dhaa</p>
                <br>
                <br>
                <br>
                <hr>
             
            
    </body>
</html>